@import '../../assets/colors.css';

.custom-input__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  & > .custom-input {
    font-size: 18px;
    font-weight: 400;
  }

  & > .custom-input-title--movable-placeholder {
    pointer-events: none;
    position: absolute;
    padding: 2px 4px;
    left: 4px;
    top: 50%;
    color: var(--text-additional-color);
    translate: 6px -50%;
    transition: all 0.15s ease-in-out;

    &.custom-input-title--movable {
      background-color: var(--white);
      font-size: 12px;
      top: 0;
      translate: 6px -50%;
    }

    &:has(+ .custom-input:focus),
    &:has(+ .custom-input:focus-visible) {
      color: var(--primary-color);
      background-color: var(--white);
      font-size: 12px;
      top: 0;
      translate: 6px -50%;
    }
  }
}
