.object-statistic__wrapper {
  display: flex;
  gap: 25px;
  padding: 25px;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;

  &.object-statistic__header {
    display: flex;
  }

  & > * {
    padding: 25px;
    border-radius: 8px;
    background-color: var(--white);
  }
}

.bento {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

  & > .bento__content {
    display: flex;
    justify-content: center;
  }
}

.bento_back_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--white) 100%,
      var(--primary-color) 15%
    );
  }

  & > svg {
    rotate: 180deg;
    width: 20px;
    height: 15px;

    & > path {
      stroke: var(--text-color);
    }
  }
}

.bento-object-selector {
  width: 100%;

  & > select {
    border: none;
    font-size: 20px;
  }
}
