.robot__block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 6px;
  padding: 25px;
  border: 1px solid var(--border-color);
  background-color: var(--white);
  transition: 0.15s ease-in-out;

  & > .robot__block__header,
  & > .robot__block__header.pumps {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    & > .link,
    & > div > .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;
      transition: 0.15s ease-in-out;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  & > .robot__block__header.pumps {
    & > * {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;

      @media (width <= 600px) {
        &:first-child {
          flex-flow: column nowrap;
        }

        &:last-child {
          flex-flow: column-reverse nowrap;
        }
      }
    }
  }

  & > .robot__block__parameters {
    text-align: center;
  }

  & > .robot__block__parameter {
    display: flex;
    gap: 15px;

    & > .parameter_left {
      flex: 1;
      text-align: right;
    }

    & > .parameter_name {
      width: 115px;
      text-align: center;
      font-weight: 500;
    }

    & > .parameter_right {
      flex: 1;
      text-align: left;
    }
  }

  & > .robot__block__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    & > .robot__block__content__row {
      align-items: center;
    }

    & > .robot__block__content__table {
      display: grid;
      gap: 15px;

      & > *:not(:last-child) {
        border-bottom: 1px solid var(--background-color);
      }

      & > .robot__block__content__table__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        align-items: center;
        padding: 2px 5px;

        & > .robot__block__content__table__column > span {
          font-weight: 500;
        }

        & > *:last-child {
          text-align: right;
          font-weight: 500;
        }
      }

      & > .robot__block__content__table__row--with-graph {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        gap: 50px;

        & > * {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        & > *:last-child {
          text-align: right;
        }
      }

      & > .robot__block__content__table__row--with-graphs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;

        & > *:first-child {
          display: flex;
          flex-direction: column;
          gap: 10px;

          & > * {
            display: grid;
            grid-auto-flow: column;
            justify-content: left;
            align-items: center;
            gap: 10px;
          }
        }

        & > *:last-child {
          display: flex;
          flex-direction: row;
          gap: 25px;
        }
      }
    }

    & > .robot__block__content__robot {
      display: flex;

      & > * {
        display: flex;
        gap: 15px;
        max-width: 145px;
        width: 100%;
        font-weight: 500;
      }

      & > .robot__block__content__robot-name {
        cursor: pointer;
        max-width: none !important;
        color: var(--primary-color);
        font-weight: bold;
        text-decoration: underline;
      }

      & > .robot__block__content__robot-status {
        max-width: none !important;
        justify-content: right;
      }

      & > * > .robot__block__content__robot-indicator {
        flex: none;
        width: 20px;
        height: 20px;
        background-color: var(--success-color);
        border-radius: 50%;

        &.working {
          background-color: var(--success-color);
        }

        &.complete {
          background-color: var(--warning-color);
        }

        &.waiting {
          background-color: var(--text-additional-color);
        }
      }
    }
  }
}
