.object-screens__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  overflow-y: auto;

  &:has(> .object-screens__block.full-screen) {
    visibility: hidden;
    height: 100%;
  }

  & > .object-screens__block {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 385px;
    min-height: 400px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--white);
    overflow: hidden;

    &:not(.full-screen):hover {
      cursor: pointer;
      & > div > img {
        scale: 1.05;
      }
    }

    & > div {
      overflow: hidden;

      & > h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:has(> img) {
        height: 100%;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.15s ease-in-out;
          -webkit-user-drag: none;
        }
      }
    }

    &.full-screen {
      position: absolute;
      visibility: visible;
      inset: 0;

      & > div:has(> img) > img {
        object-fit: contain;
      }
    }
  }
}
