.custom-btn.primary {
  --bgColor: var(--primary-color);
  --colorOutline: var(--white);
}

.custom-btn.primary-light {
  --bgColor: var(--primary-light-color);
  --colorOutline: var(--primary-color);
}

.custom-btn.black {
  --bgColor: var(--text-color);
  --colorOutline: var(--white);
}

.custom-btn.transparent {
  background-color: transparent;
  --colorOutline: var(--bgColor);
  color: var(--text-color);

  &:hover {
    background-color: color-mix(in srgb, var(--bgColor) 10%, transparent 100%);
  }
}

.custom-btn.red {
  --bgColor: var(--error-color);
  --colorOutline: color-mix(
    in srgb,
    var(--error-color) 10%,
    var(--text-color) 100%
  );
}

.custom-btn.green {
  --bgColor: var(--success-color);
}
