.object-workplace__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  grid-auto-flow: row dense;
  gap: 15px;
  width: 100%;

  @media (width <= 585px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  & > .object-workplace__block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 6px;
    padding: 25px;
    border: 1px solid var(--border-color);
    background-color: var(--white);
    transition: 0.15s ease-in-out;

    &:has(> .object-workplace__block__header > input[type='checkbox']:checked),
    &:has(
        > .object-workplace__block__header
          > div
          > input[type='checkbox']:checked
      ) {
      box-shadow: inset 0 0 0 1px var(--success-color);
    }

    & > .object-workplace__block__header {
      & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        & > .link,
        & > div > .link {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 15px;
          transition: 0.15s ease-in-out;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    & > .object-workplace__block__header.pumps {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      & > .link,
      & > div > .link {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        transition: 0.15s ease-in-out;

        &:hover {
          color: var(--primary-color);
        }
      }

      & > *:nth-child(1),
      & > *:nth-child(3) {
        flex: 1;
        justify-content: space-around;
      }

      & > .link {
        justify-content: center;
      }

      & > * {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;

        @media (width <= 600px) {
          &:first-child {
            flex-flow: column nowrap;
          }

          &:last-child {
            flex-flow: column-reverse nowrap;
          }
        }
      }
    }

    & > .object-workplace__block__parameters {
      text-align: center;
    }

    & > .object-workplace__block__parameter {
      display: flex;
      gap: 15px;

      & > .parameter_left {
        flex: 1;
        text-align: right;
      }

      & > .parameter_name {
        width: 115px;
        text-align: center;
        font-weight: 500;
      }

      & > .parameter_right {
        flex: 1;
        text-align: left;
      }
    }

    & > .object-workplace__block__content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      & > .object-workplace__block__content__row {
        align-items: center;
      }

      & > .object-workplace__block__content__table {
        display: grid;
        gap: 15px;

        & > *:not(:last-child) {
          border-bottom: 1px solid var(--background-color);
        }

        & > .object-workplace__block__content__table__row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;
          align-items: center;
          padding: 2px 5px;

          & span {
            &.warning {
              color: var(--warning-color);
            }
            &.alert {
              color: var(--error-color);
            }
          }

          & > .object-workplace__block__content__table__column > span {
            font-weight: 500;
          }

          & > *:last-child {
            text-align: right;
            font-weight: 500;
          }
        }

        & > .object-workplace__block__content__table__row--with-graph {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 5px;
          gap: 50px;

          &.warning {
            color: var(--warning-color);
          }
          &.alert {
            color: var(--error-color);
          }

          & > * {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }

          & > *:last-child {
            text-align: right;
          }
        }

        & > .object-workplace__block__content__table__row--with-graphs {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 25px;

          &.warning {
            color: var(--warning-color);
          }
          &.alert {
            color: var(--error-color);
          }

          & > *:first-child {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & > * {
              display: grid;
              grid-auto-flow: column;
              justify-content: left;
              align-items: center;
              gap: 10px;
            }
          }

          & > *:last-child {
            display: flex;
            flex-direction: row;
            gap: 25px;
          }
        }
      }
    }
  }
}
