#main-logo {
  background: url('/logo.svg') no-repeat center;
  background-size: contain;
  width: 100%;
  height: 80%;
}

.sidebar {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: var(--white);
  overflow: hidden;
  transition: max-width 0.15s ease-in-out;

  & > .sidebar__logo {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
  }

  & > .sidebar__navs {
    flex: none;
    width: 100%;

    & > ul {
      display: flex;
      flex-direction: column;
      border-top: 2px solid var(--background-color);
      padding: 25px 0;
      padding-right: 15px;
      gap: 2px;

      & > li > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 15px;
        border-radius: 0 8px 8px 0;
        color: var(--text-additional-color);
        font-weight: 500;
        transition: 0.1s ease-in-out;

        & > span {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        & > svg {
          display: none;
        }

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--primary-color) 15%,
            transparent 100%
          );
        }

        &.active {
          background-color: color-mix(
            in srgb,
            var(--primary-color) 15%,
            transparent 100%
          );
          border-left: 5px solid var(--primary-color);
          color: var(--primary-color);

          & > svg {
            display: block;
          }
        }
      }
    }
  }

  & > .sidebar__bottom {
    display: flex;
    align-items: end;
    height: 100%;
  }
}

@media (width <= 1000px) {
  #main-logo {
    background-image: url('/small_logo.svg');
  }
  .sidebar {
    max-width: 75px;
  }
  .sidebar__navs > ul {
    padding-right: 0 !important;

    & > li > a {
      display: flex;
      justify-content: center !important;
      border-radius: 0 !important;

      & > svg {
        display: none !important;
      }

      & > span > svg {
        width: 100%;
      }

      & > span > span {
        display: none;
      }
    }
  }
}
