.progress-bar {
  --accentColor: var(--primary-color);

  appearance: none;
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 0 1.5px var(--accentColor);

  &.in-progress::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/loading_divider.svg');
    background-position: 0 100%;
    background-size: contain;
    animation: in_progress 1.5s linear infinite;

    @keyframes in_progress {
      0% {
        background-position: -45px 0;
      }

      100% {
        background-position: 0 0;
      }
    }
  }
}

.progress-bar::-moz-progress-bar {
  border-radius: 6px;
  background-color: var(--accentColor);
}

.progress-bar::-webkit-progress-bar {
  border-radius: 6px;
  background-color: var(--white);
}

.progress-bar::-webkit-progress-value {
  background-color: var(--accentColor);
}
