.progress-bar {
  --width: 0;
  --accentColor: var(--primary-color);

  appearance: none;
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 0 1.5px var(--accentColor);
  background-image: linear-gradient(
    to right,
    var(--accentColor) var(--width),
    transparent 0
  );

  &.in-progress::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/loading_divider.svg');
    background-position: 0 100%;
    background-size: contain;
    animation: in_progress 1.5s linear infinite;

    @keyframes in_progress {
      0% {
        background-position: -45px 0;
      }

      100% {
        background-position: 0 0;
      }
    }
  }
}
