.progress-bar {
  --accent-color: var(--success-color);

  appearance: none;
  display: block;
  width: 100%;
  height: 20px;
}

.progress-bar::-webkit-progress-bar {
  border-radius: 6px;
  border: 1.5px solid var(--accent-color);
  background-color: var(--white);
  overflow: hidden;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--accent-color);
}
