header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 0 25px;
  background-color: var(--white);
  border-left: 2px solid var(--background-color);
  overflow-x: auto;

  & > .header__object-name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
  }

  & > .header__well-pad {
    font-weight: bold;
  }

  & > .header__object-data {
    display: flex;
    gap: 15px;
  }
}
