.dropdown {
  position: relative;
  user-select: none;

  &:first-child {
    cursor: pointer;
  }
}

.dropdown-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 4px;
  min-width: 250px;
  scale: 0.95;
  opacity: 0;
  padding: 4px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 16px
    color-mix(in srgb, var(--primary-color) 15%, transparent 100%);
  overflow: visible;
  z-index: 10000;

  & > button {
    justify-content: left;
    text-transform: none;
    gap: 10px;

    & > * {
      flex: none;
    }
  }

  &.show {
    display: flex;

    // ==== Появление в центре ====
    &.left {
      top: 50%;
      right: calc(100% + 6px);
      translate: 10px -50%;
      animation: dropdownOpenLeft 0.15s ease-in-out both;

      @keyframes dropdownOpenLeft {
        to {
          scale: 1;
          opacity: 1;
          translate: 0 -50%;
        }
      }
    }

    &.top {
      bottom: calc(100% + 6px);
      right: 50%;
      translate: 50% 10px;
      animation: dropdownOpenTop 0.15s ease-in-out both;

      @keyframes dropdownOpenTop {
        to {
          scale: 1;
          opacity: 1;
          translate: 50% 0;
        }
      }
    }

    &.right {
      top: 50%;
      left: calc(100% + 6px);
      translate: -10px -50%;
      animation: dropdownOpenRight 0.15s ease-in-out both;

      @keyframes dropdownOpenRight {
        to {
          scale: 1;
          opacity: 1;
          translate: 0px -50%;
        }
      }
    }

    &.bottom {
      top: calc(100% + 6px);
      left: 50%;
      translate: -50% -10px;
      animation: dropdownOpenBottom 0.15s ease-in-out both;

      @keyframes dropdownOpenBottom {
        to {
          scale: 1;
          opacity: 1;
          translate: -50% 0;
        }
      }
    }

    // ==== Появление по углам ====

    &.leftBottom,
    &.leftTop,
    &.topLeft,
    &.topRight,
    &.rightTop,
    &.rightBottom,
    &.bottomRight,
    &.bottomLeft {
      animation: dropdownOpenAngle 0.15s ease-in-out both;

      @keyframes dropdownOpenAngle {
        to {
          scale: 1;
          opacity: 1;
          translate: 0;
        }
      }
    }

    // Левая сторона
    &.leftTop {
      top: 6px;
      right: calc(100% + 6px);
      translate: 10px -10px;
    }

    &.leftBottom {
      bottom: 6px;
      right: calc(100% + 6px);
      translate: 10px 10px;
    }

    // Верхняя сторона
    &.topLeft {
      bottom: calc(100% + 6px);
      left: 6px;
      translate: -10px 10px;
    }

    &.topRight {
      bottom: calc(100% + 6px);
      right: 6px;
      translate: 10px 10px;
    }

    // Правая сторона
    &.rightTop {
      top: 6px;
      left: calc(100% + 6px);
      translate: -10px -10px;
    }

    &.rightBottom {
      bottom: 6px;
      left: calc(100% + 6px);
      translate: -10px 10px;
    }

    // Нижняя сторона
    &.bottomLeft {
      top: calc(100% + 6px);
      left: 6px;
      translate: -10px -10px;
    }

    &.bottomRight {
      top: calc(100% + 6px);
      right: 6px;
      translate: 10px -10px;
    }
  }
}
