.objects__wrapper {
  display: flex;
  gap: 25px;
  padding: 25px;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;

  &.objects__header {
    display: flex;
  }

  & > * {
    padding: 25px;
    border-radius: 8px;
    background-color: var(--white);
  }
}

.bento-object-selector {
  width: 100%;

  & > label {
    display: flex;
    gap: 15px;

    & > span {
      font-size: 20px;
    }

    & > select {
      border: none;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.cards__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
