.dropdown-menu {
  position: relative;

  &:first-child {
    cursor: pointer;
  }

  &.active {
    & > button {
      background-color: var(--primary-color) !important;
      color: white !important;

      &:focus-visible {
        outline-color: var(--white);
      }
    }
  }
}

.dropdown-menu__content {
  --dropdownMenuMargin: 6px;
  --dropdownMenuDelay: 150ms;

  pointer-events: none;
  scale: 0.95;
  opacity: 0;

  display: grid;
  position: absolute;
  gap: 4px;
  padding: 4px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 16px
    color-mix(in srgb, var(--primary-color) 15%, transparent 100%);
  z-index: 10000;
  transition: var(--dropdownMenuDelay) ease-in-out;

  & button {
    justify-content: left;
    text-transform: none;
    text-align: start;
    gap: 10px;
    font-size: 14px;

    & > * {
      flex: none;
    }
  }

  & input {
    font-size: 15px !important;
  }

  // ==== Появление в центре ====
  &.left {
    top: 50%;
    right: calc(100% + var(--dropdownMenuMargin));
    translate: 10px -50%;
  }

  &.top {
    bottom: calc(100% + var(--dropdownMenuMargin));
    right: 50%;
    translate: 50% 10px;
  }

  &.right {
    top: 50%;
    left: calc(100% + var(--dropdownMenuMargin));
    translate: -10px -50%;
  }

  &.bottom {
    top: calc(100% + var(--dropdownMenuMargin));
    left: 50%;
    translate: -50% -10px;
  }

  // ==== Появление по углам ====

  // Левая сторона
  &.leftTop {
    top: 0;
    right: calc(100% + var(--dropdownMenuMargin));
    translate: 10px -10px;
  }

  &.leftBottom {
    bottom: 0;
    right: calc(100% + var(--dropdownMenuMargin));
    translate: 10px 10px;
  }

  // Верхняя сторона
  &.topLeft {
    bottom: calc(100% + var(--dropdownMenuMargin));
    left: 0;
    translate: -10px 10px;
  }

  &.topRight {
    bottom: calc(100% + var(--dropdownMenuMargin));
    right: 0;
    translate: 10px 10px;
  }

  // Правая сторона
  &.rightTop {
    top: 0;
    left: calc(100% + var(--dropdownMenuMargin));
    translate: -10px -10px;
  }

  &.rightBottom {
    bottom: 0;
    left: calc(100% + var(--dropdownMenuMargin));
    translate: -10px 10px;
  }

  // Нижняя сторона
  &.bottomLeft {
    top: calc(100% + var(--dropdownMenuMargin));
    left: 0;
    translate: -10px -10px;
  }

  &.bottomRight {
    top: calc(100% + var(--dropdownMenuMargin));
    right: 0;
    translate: 10px -10px;
  }

  &.show {
    pointer-events: all;
    scale: 1;
    opacity: 1;
    translate: 0;

    &.left {
      translate: 0 -50%;
    }

    &.top {
      translate: 50%;
    }

    &.right {
      translate: 0 -50%;
    }

    &.bottom {
      translate: -50%;
    }
  }
}
