.loader {
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  & > .loader__item_wrapper {
    display: flex;
    gap: 40px;
    background-color: var(--white);
    padding: 12px;
    border-radius: 24px;
    animation: loader 1s ease-in-out infinite;

    @keyframes loader {
      0% {
        box-shadow: 0 0 0 0 rgb(27 37 57 / 5%);
        translate: 0 0;
        scale: 1;
      }

      50% {
        box-shadow:
          0 12px 0 0 var(--text-additional-color),
          0 25px 0 6px rgb(27 37 57 / 5%);
        translate: 0 -25px;
        scale: 1.05;
      }

      100% {
        box-shadow: 0 0 0 0 rgb(27 37 57 / 5%);
        translate: 0 0;
        scale: 1;
      }
    }

    & > .loader__item {
      width: 50px;
      height: 50px;
      background-color: var(--primary-color);
      border-radius: 12px;
      animation: rotate 1s ease-in-out infinite;
      scale: 0.75;

      &:nth-child(1) {
        background-color: var(--text-color);
        animation-delay: 0.1s;
      }

      &:nth-child(2) {
        animation-delay: 0.25s;
      }

      &:nth-child(3) {
        animation-delay: 0.5s;
      }

      @keyframes rotate {
        0% {
          border-radius: 12px;
          rotate: 0deg;
          translate: 0 0;
          scale: 0.75;
        }

        50% {
          border-radius: 50%;
          rotate: 360deg;
          translate: 0 -75px;
          scale: 1.25;
        }

        100% {
          border-radius: 12px;
          rotate: 720deg;
          translate: 0 0;
          scale: 0.75;
        }
      }
    }
  }
}
